            body {
                margin: 0px;
                text-align: center;
            }
            
            a {
                color: #5c969e
            }
            
            h1 {
                width: 20%;
                margin: 0 auto 0 auto;
                font-family: 'Pacifico', cursive;
                font-size: 300%;
                color: #3d7ea6;
            }
            
            span {
                text-decoration: underline;
            }
            
            .h2 {
                font-size: 200%;
                color: #3d7ea6;
                font-weight: normal;
                line-height: 4;
            }
            
            .top {
                background-color: #fcdada;
                position: relative;
                padding-top: 187.5%;
            }
            
            h3 {
                color: #3d7ea6;
            }
            
            .top-cloud {
                position: absolute;
                right: 625%;
                top: 312.5%;
            }
            
            .bottom-cloud {
                position: absolute;
                top: 1406.25%;
                left: 625%;
            }
            
            h2 {
                font-size: 400%;
                color: #ffa5a5;
            }
            
            p {
                font-family: 'Montserrat', sans-serif;
            }
            
            .skill-row {
                width: 50%;
                margin: 0 auto;
                position: relative;
                text-align: left;
                line-height: 2;
            }
            
            .w-img {
                width: 25%;
                float: left;
                padding-right: 20px;
            }
            
            .c-img {
                width: 25%;
                float: right;
                margin-left: 20px;
            }
            
            hr {
                border-style: dotted none none none;
                width: 5%;
                border-width: 43.75%;
                border-color: #5c969e;
            }
            
            .bottom-container {
                background-color: #fcdada;
                padding-top: 250%;
                padding-bottom: 250%;
            }
            
            .footer {
                background-color: inherit;
                border: none;
                cursor: pointer;
                font-size: 100%;
                font-family: 'Montserrat', sans-serif;
            }
            
            .footer:hover {
                color: #5c969e;
            }
            
            .btn {
                background-color: #ffa5a5;
                -webkit-border-top-left-radius: 175%;
                -moz-border-radius-topleft: 175%;
                border-top-left-radius: 175%;
                -webkit-border-top-right-radius: 175%;
                -moz-border-radius-topright: 175%;
                border-top-right-radius: 175%;
                -webkit-border-bottom-right-radius: 175%;
                -moz-border-radius-bottomright: 175%;
                border-bottom-right-radius: 175%;
                -webkit-border-bottom-left-radius: 175%;
                -moz-border-radius-bottomleft: 175%;
                border-bottom-left-radius: 175%;
                text-indent: 0;
                border: 1px solid #f0895d;
                display: inline-block;
                color: #ffffff;
                font-family: 'Montserrat', sans-serif;
                font-size: 112.5%;
                font-weight: bold;
                font-style: normal;
                height: 312.5%;
                line-height: 312.5%;
                width: 868.75%;
                text-decoration: none;
                text-align: center;
                margin-bottom: 250%;
                margin-top: 125%;
            }
            
            .btn:hover {
                background-color: #f0895d;
            }
            
            .btn:active {
                position: relative;
                top: 6.25%;
            }
